/* .h1 {
    font-normal xl:text-[70px] lg:text-6xl md:text-5xl text-4xl xl:leading-[128%] lg:leading-[125%] md:leading-[120%]
} */
 /* .p{
 font-normal xl:text-[40px] md: text-xl lg:text-2xl xl:text-3xl xl:leading-[128%] lg:leading-[125%] md:leading-[120%]
 } */


.text-cream-foreground {
    color: #fdf6e3;
}
.container {
    width: 60%;
    margin: 0 auto;
}
@keyframes downup {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(20px);
    }

}

@keyframes leftright {

    0%,
    100% {
        transform: translateX(0);
    }

    50% {
        transform: translateX(10px);
    }

} 
@keyframes lac_lu {
    0% {
        transform: skewX(0deg);
    }
    50% {
        transform: skewX(5deg);
    }
    100% {
        transform: skewX(0deg);
    }
}

.updown {
    animation: downup 2s ease-in-out infinite
}
.leftright {
    animation: leftright 2s ease-in-out infinite
}
.test {
    cursor: pointer;
}
.icon_three_line{
    font-family: 'icomoon' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.btn {
    position: relative;
    z-index: 10;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    max-height: 60px;
    gap: 10px;
    transition: 0.5s ease-in-out;
    padding: 20px 30px;
    border-radius: 6px;
    overflow: hidden;}
    .bg-primary{
        background-color: #f7941e;
    }
    .bg-primary1{
        background-color: #ed145b;
    }
    .bg-primary2{
        background-color: #73be48;
    }
    .bg-primary3{
        background-color: #1cbbb4;
    }
/* .h1 {
    font-normal xl:text-[70px] lg:text-6xl md:text-5xl text-4xl xl:leading-[128%] lg:leading-[125%] md:leading-[120%]
} */

.slick-slide {
    overflow:visible !important;
  }
  
.slick-track {
    overflow:visible !important;
  }
